.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: #0066ff;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.modal .overlay {
  width: 100%;
  height: 100%;
  background-color: #00000020;
}

.modal .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #00000020;
}